.navigation {
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  align-items: center;
  margin-right: 40px;
}

.navigationList {
  display: flex;
  gap: 60px;
  margin: 10;
  padding: 10;
}

.navigationItem {
  text-decoration: none;
  font-weight: bold;
  color: rgb(164, 192, 10);
  font-size: 24px;
}

.navigationItem:global(.active) {
  color: purple;
  font-weight: bold;
}
