.wrapperTweetsPage {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.loadMoreWrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: medium;
  color: rgb(50, 12, 50);
}

.goBackWrapper {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}
