.text {
  font-size: 24px;
  font-style: bold;
  color: purple;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: black;
  fill: blue;
}
.icon-Vector-3 {
  width: 3.4541015625em;
}
