.ButtonContainer {
  margin-left: auto;
  margin-right: auto;
  padding-top: 18px;
}

.Button {
  width: 196px;
  height: 50px;
  border-radius: 10.3108px;
  border: 0;
  background: #ebd8ff;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  // font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #373737;

  &:hover {
    background-color: #dcbbff;
  }
}

.Button.active {
  background: #5cd3a8;
}
